#row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    margin-left: 15px;
    margin-bottom: 5px;
}

.label{
    margin-top: 5px;
}

textarea {
    width: 600px;
    height: 400px;
    padding-top: 10px;
    background-color: #242424;
    border: 5px solid #A7727D;
    color: white;
}

@media only screen and (max-width: 1300px) {

    textarea {
        width: 90%;
    }
  }