iframe {
    width: 100%;
    height:500px;
    background-color: white;
}

.output{
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .output{
        text-align: center;
    }
    iframe {
        width: 90%;
    }
  }