html {
	background-color: #f9f5e7;
}

.inline{
    display: inline;
}

.header{
    margin: 10px 5px;
}

.header p {
    margin-left: 20px;
}

.output {
	display: block;
}

.button-area {
	text-align: center;
    padding: 2em;
    position: sticky;
    bottom: 0;
}

.button {
	padding: 5px 8px;
	width: 120px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	background-color: #a7727d;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
}

@media only screen and (max-width: 1300px) {
	.playground {
		display: block;
	}
}
